body {
  width: 75%;
  margin: 0 auto;
  font-family: 'Work Sans', sans-serif;
}
h1 {
  text-align: center;
  font-size: 300%;
  font-weight: lighter;
}
p {
  text-align: left;
  font-weight: 700;
}
.a-icon {
  color: inherit;
  text-decoration: none;
}
.fa-icon {
  font-size: 60px;
}
.linkedin-icon {
  color: #0077B5;
}
